<header class="site-header">
    <div class="container">
        <nav class="navbar {{ page.navbar }}">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                    </button>
                    <a id="site-header-brand" href="/" title="{{ site.name }}">
                        <img src="/assets/images/NifTools-Logo-128.png" /> {{ site.name }}
                    </a>
                </div>

                <div id="site-navbar" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        {% for nav in site.navs %}
                        <li><a href="{{ nav.href }}" class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item hvr-underline-from-center"
                                target="{{ nav.target | default: _self }}" title="{{ nav.label }}">
                        {{ nav.label }}
                        </a></li> {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
